<html>
<head>
	<title>Saved Locations</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<!-- icons stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
	<div id="navbar"></div>
	<div class="container">
		<div class="logoutbtn"></div><br><br>
		<div class="Information">
			<h1>Saved Reports</h1>
			{{#each SavedLocations}}
				<div class="card Locations">
					<h4 id="Location" name="Location"><b>{{Place}}</b></h4>
					<p><b>{{Positive}}/{{Total}}</b> Positive Reports of COVID-19 at this location.</p>
					<form id="deleteFavoriteForm" role="form" method="delete" action="/deleteFavorite">
						<input type="hidden" id="Location" name="Location" value="{{Place}}">
						<input type="hidden" id="Positive" name="Positive" value="{{Positive}}">
						<input type="hidden" id="Total" name="Total" value="{{Total}}">
						<button class="saved" type="submit">REMOVE</button>
					</form>
				</div>
			{{/each}}
			</table>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
